@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

@font-face {
    font-family: Amstelvar;
    src: url(media/Amstelvar-Roman[wdth/,wght/,opsz].ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

.navlinks a:hover {
    background-color: whitesmoke;
    border-radius: 200px;
    color: black;
}

.overlay {
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 10%;
}
.overlay h1{
    font-size: 200px;
    color: white;
    text-decoration: underline;
    font-family: "Dongle";
    background: -webkit-linear-gradient(rgb(138, 3, 255), rgb(35, 152, 219));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay h3 {
    color: #d2d9e7;
    font-size: 30px;
}

video {
    filter: blur(3px) brightness(50%);
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

nav {
    position: absolute;
    background-color: black;
    width: 100%;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.navlinks {
    padding: 1rem;
    font-family: 'Amstelvar';
    z-index: 100; 
}
.navlinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navlinks li {
    list-style: none;
}
.home {
    margin: 1rem;
    font-family: 'Amstelvar';
    z-index: 100; 
}

.home a{
    padding: 1rem;
}

.navlinks a {
    display: block;
    padding: 1rem;
}

.home a:hover {
    background-color: whitesmoke;
    border-radius: 200px;
    color: black;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 1;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(26,26,26);
    animation: 5s infinite alternate ease-out breathing-color--dark;
}

.whitespace {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation: 5s infinite chroma;
}


.onebg {
    background-image: url(media/celestecoverart.png);
}

.Q:hover {
    transition: 0.3s;
    transform: scale(1.1);
    filter: blur(0px) brightness(100%);
    z-index: 3;
}

.Q {
    background-size: cover;
    filter: blur(3px) brightness(50%);
    height: 80%;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.menu a {
    width: 200px;
    height: 80%;
    display: block;
}

.twobg {
    background-image: url(media/hollowknightbg1.jpg);
}

.threebg {
    background-image: url(media/terrariabg1.jpg);
}

.fourbg {
    background-image: url(media/ultrakillcoverart.jpg);
}

.fivebg {
    background-image: url(media/ror2coverart.jpg);
}

.presentation {
    height: 100vh;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.onebgg {
    background-image: url(media/test/celestebg2.jpg);
    height: 110%;
}

.reveal  {
    z-index: 1000;
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
    
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.item-1:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.item-2 {
    text-align: center;
    min-height: 30vh;
    background-color: white;
    border-radius: 24px;
    width: 480px;
    padding: 20px;
    box-shadow: 0 2px 12px 0 rgb(20 20 43 /100%);
    max-height: 500px;
    font-size: 40px;
    font-family: 'Dongle';
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
}
.item-3 {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    height: 110%;
}

.twobgg {
    background-image: url(media/test/celestecoverart.png);

}

.threebgg {
    background-image: url(media/test/hollowknightbg4.jpg);
 
}

.fourbgg {
    background-image: url(media/hollowknightbanner.jpg);

}

.fivebgg {
    background-image: url(media/test/terrariabg.png);

}

.sixbgg {
    background-image: url(media/test/terrariabg2.gif);
}

.sevenbgg {
    background-image: url(media/test/ultrakillbg1.jpg);
}

.eightbgg {
    background-image: url(media/ultrakillbg2.jpg);
}

.ninebgg {
    background-image: url(media/test/ror2bg.jpg);
}

.tenbgg {
    background-image: url(media/ror2bg1.png);
}
.haha {
    overflow-y: scroll;
}
footer {
    width: 100%;
    height: 50vh;
    display: grid;
    background-color: rgb(58, 54, 54);
}

@keyframes breathing-color--dark {
    from
    {
        background-color: black;
    }
    to
    {
        background-color: hsl(0, 0%, 10%);
    }
}

@keyframes chroma {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}

@media (max-width: 400px) {
    * {
        margin: 0, auto;
    }
    
    .overlay h1 {
        font-size: 35px;
    }

    .overlay h3 {
        font-size: 10px;
    }

    nav {
        background-color: rgba(0, 0, 0, 0.627);
        flex-direction: column;
        align-items: flex-start;
        z-index: 1000;
    }

    .menu {
        display: none;
    }
    
    .whitespace {
        margin: 0 auto;
        display: none;
        font-size: 20px;
        width: 20%;
        
    }
    .item-2 {
        font-size: 17px;
        line-height: 20px;
        width: 70%;
        min-height: 10%;
    }

    .grid-container img {
        width: 100%;
    }

    .grid-container {
        flex-direction: column;
        height: 60%;
        display: flex;
        justify-content: space-evenly;
    }
    
    iframe {
        width: 50%;
        height: 30%;
    }
    .onebgg img{
        width: 40%;
    }

    .toggle-button {
        display: flex;
    }

    .navlinks {
        display: none;
        width: 100%;
    }
    .navlinks ul{ 
        flex-direction: column;
        width: 100%;
    }

    .navlinks li a {
        padding: .5rem 1rem;
    }
    .home {
        display: none;
    }
    
    .navlinks.active {
        display: flex;
        background-color: rgba(0, 0, 0, 0.503);
        margin-top: 3rem;
    }
}