@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

@font-face {
    font-family: Amstelvar;
    src: url(media/Amstelvar-Roman[wdth/,wght/,opsz].ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 300vh;
}

a {
    text-decoration: none;
    color: white;
}

.top a:hover {
    background-color: whitesmoke;
    border-radius: 200px;
    color: black;
}

.overlay {
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    bottom: 30%;
    left: 10%;
}
.overlay h1{
    font-size: 200px;
    color: white;
    text-decoration: underline;
    font-family: "Dongle";
    background: -webkit-linear-gradient(rgb(138, 3, 255), rgb(35, 152, 219));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    color: #d2d9e7;
    font-size: 30px;
}

video {
    position: absolute;
    z-index: 0;   
    top: 0%; 
    filter: blur(3px) brightness(50%);
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    font-size: 1.2em;
    display: flex;
    text-align: center;
    align-items: center; 
}
nav a {
    padding: 10px;
    z-index: 1000;
    font-family: 'Amstelvar';
}

nav .btn {
    position: absolute;
    left: 1400px;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    color: rgb(255, 0, 0);
}

nav .btn:hover {
    opacity: 70%;
    background-color: rgba(255, 0, 0, 0.459);
}

nav a:first-child {
    margin-right: 1100px;
    margin-left: 20px;
    margin-top: 20px;
}

.top {
    min-height: 100vh;
    background-color: #272727;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(26,26,26);
    scroll-snap-align: start;
    animation: 5s infinite alternate ease-out breathing-color--dark;
}

.whitespace {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation: 5s infinite chroma;
}


.onebg {
    background-image: url(media/celestecoverart.png);
    background-size: cover;
    filter: blur(3px) brightness(50%);
    height: 80%;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;

}

.Q:hover {
    transition: 0.3s;
    transform: scale(1.1);
    filter: blur(0px) brightness(100%);
    z-index: 3;
}

.menu a {
    width: 200px;
    height: 80%;
    display: block;
}

.twobg {
    background-image: url(media/hollowknightbg1.jpg);
    background-size: cover;
    filter: blur(3px) brightness(50%);
    height: 80%;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
 
    z-index: 0;

}

.threebg {
    background-image: url(media/terrariabg1.jpg);
    background-size: cover;
    filter: blur(3px) brightness(50%);
    height: 80%;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;

}

.fourbg {
    background-image: url(media/ultrakillcoverart.jpg);
    background-size: cover;
    filter: blur(3px) brightness(50%);
    height: 80%;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  
}

.fivebg {
    background-image: url(media/ror2coverart.jpg);
    background-size: cover;
    filter: blur(3px) brightness(50%);
    height: 80%;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
   
}

.presentation {
    scroll-snap-type: proximity;
    height: 100vh;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.S {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.one {
    position: absolute;
    z-index: -100;
}

.two {
    background: aqua;
    position: absolute;
}

.three {
    background: yellowgreen;
    position: absolute;
}

.onebgg {
    background-image: url(media/test/celestebg2.jpg);
    height: 110%;
}

.reveal  {
    z-index: 1000;
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
    
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.item-1:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
    min-height: 30vh;
    background-color: white;
    width: 480px;
    height: 360px;
    font-size: 40px;
    font-family: 'Dongle';
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
}

.item-3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
}



.twobgg {
    background-image: url(media/test/celestecoverart.png);
    display: flex;
    justify-content: space-evenly;
    height: 110%;
}

.threebgg {
    background-image: url(media/test/hollowknightbg4.jpg);
    height: 110%;  
}

.fourbgg {
    background-image: url(media/hollowknightbanner.jpg);
    display: flex;
    justify-content: space-evenly;
    height: 110%;
}

.fivebgg {
    background-image: url(media/test/terrariabg.png);
    height: 110%;
}

.sixbgg {
    background-image: url(media/test/terrariabg2.gif);
    display: flex;
    justify-content: space-evenly;
    height: 110%;

}

.sevenbgg {
    background-image: url(media/ultrakillbg1.jpg);
    height: 120%;
}

.eightbgg {
    background-image: url(media/ultrakillbg2.jpg);
    display: flex;
    justify-content: space-evenly;
    height: 110%;
}

.ninebgg {
    background-image: url(media/ror2bg.jpg);
    height: 120%;
}

.tenbgg {
    background-image: url(media/ror2bg1.png);
    display: flex;
    justify-content: space-evenly;
    height: 110%;
}
footer {
    width: 100%;
    height: 50vh;
}

@keyframes breathing-color--dark {
    from
    {
        background-color: black;
    }
    to
    {
        background-color: hsl(0, 0%, 10%);
    }
}

@keyframes chroma {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
